/* h2 {
    margin-bottom: 0;
}
app-root {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "head head"
                         "shop recipe"
                         "shop recipe";
    padding: 0 10px 0 10px
} */